[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "source/min-lib"]
	path = source/min-lib
	url = https://github.com/Cycling74/min-lib.git
[submodule "source/fr-musp"]
	path = source/fr-musp
	url = https://github.com/Frank-Krick/fr-musp
[submodule "source/fr-tbp"]
	path = source/fr-tbp
	url = https://github.com/Frank-Krick/fr-tbp
